
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-image: url("assets/art.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: row;
}

.navbar {
    background-color: rgb(120, 120, 165);
    backdrop-filter: blur(4px);
    box-shadow: 5px 5px black;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

}

.navbar p {
    margin-top: 0px;
}

.navbar h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    filter: drop-shadow(2px 2px rgba(0,0,0,0.5));

}
.navbaroption {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    height: 60px;
    color: white;
    background-color: rgb(69, 93, 159);

}
.navfooter {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    vertical-align: bottom;
    color:white;
}
.navfooter p {
    margin-left: 10px;
}

.navbaroption h3 {
    margin-top: 18px;
}
.navbaroption:hover {
    background-color: rgb(141, 162, 220);
    color: black;
    cursor: pointer;
}

.maincontent {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    backdrop-filter: blur(10px);
    overflow: auto;
    flex-grow: 1;
    font-size: 20px;
    height:100vh;


    /*margin: 60px;*/
    /*margin-bottom: 0px;*/
}

.container {
    background-color: white;
    width: 80%;
    min-width: 600px;
    min-height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 6px 6px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
}
.container p {
    margin-left: 40px;
    margin-right:40px;
}
.container h1 {
    margin-left: 80px;
}
.container h2 {
    margin-left: 40px;
}